fastapi
uvicorn
postgres
pydantic
sqlalchemy
psycopg2
python-dotenv
alembic
python-jose
passlib[bcrypt]
argon2-cffi
argon2
python-multipart
starlette
pyotp
pyjwt==1.7.1
pydantic[email]
pydantic-settings
jwt
